/*-----Variáveis----- */

:root {
  /* Background */
  --roxoBg: #592880;
  --pretoBg: #060606;
  /* Detalhes */
  --textShadowRosa: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #f09,
  0 0 82px #f09,
  0 0 92px #f09,
  0 0 102px #f09,
  0 0 151px #f09;

}

/*-----Reset----- */
* {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle at center, var(--roxoBg) 0,  var(--pretoBg)100%);
 
}



/*-----Cabeçalho----- */

i {
 color: #592880;
 margin: 0 3rem;
}

#head {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

#head .title {
  font-family: 'Neonderthaw';
  animation: pulsate 0.3s infinite;
  color: var(--rosa);
  font-size: 5rem;
  color: #fff;
  text-align: center;
  text-shadow: var(--textShadowRosa);
   margin: 1rem;
}

.score {
  font-family: 'Poppins';
  text-align: center;
}

.score .result {
  display: flex;
}

.score .result .player {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 46px 0px rgba(214,36,208,0.9);

}
/*-----Jogo----- */ 
#game {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 6rem);
}

.board .space {
  height: 6rem;
  border: none;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 12px  rgba(214,36,208,0.9);
  border-radius: 5px;

}

.board .space .full {
  color: #fff;
  font-size: 2rem;
  text-shadow:
  /* White glow */
  0 0 7px #fff,
  0 0 15px #fff,
  0 0 30px #fff;
}

.glow {
  
  -webkit-animation-name:aparecer;
  -webkit-animation-duration:0.2s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-delay:0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-name:aparecer;
  animation-duration:0.2s;
  animation-iteration-count:1;
 animation-delay:0.2s;
  animation-fill-mode: forwards;
}

/* Animações */

@keyframes aparecer {
 100% {
  text-shadow:0 0 3px #FFE205, 0 0 7px #FFE205, 0 0 20px #EDD205;
  color:#FFE205;
 }
}

/* @keyframes pulsate {
    
  100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #f09,
      0 0 80px #f09,
      0 0 90px #f09,
      0 0 100px #f09,
      0 0 150px #f09;
  
  }
  
  0% {

    text-shadow:
    0 0 4px #fff,
    0 0 10px #fff,
    0 0 18px #fff,
    0 0 38px #f09,
    0 0 73px #f09,
    0 0 80px #f09,
    0 0 94px #f09,
    0 0 140px #f09;

}} */

/*-----Mobile----- */

/* @media screen and(max-width: 600px) {
#game {
  display: flex;
  flex-direction: column;
}

.board {
  order: 1;
}

  
} */