/*-----Variáveis----- */

:root {
  /* Background */
  --roxo: #592880;
  --pretoBg: #060606;
  /* Detalhes */
  --textShadowRosa: 
  0 0 7px #fff,
  0 0 10px #fff,
  0 0 21px #fff,
  0 0 42px #f09,
  0 0 82px #f09,
  0 0 92px #f09,
  0 0 102px #f09,
  0 0 151px #f09;
  --textShadowBranca: 0 0 7px #fff,
  0 0 15px #fff,
  0 0 30px #fff;
  
}

/*-----Reset----- */
* {
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle at center, var(--roxo) 0,  var(--pretoBg)100%);
}
.App {
  height: 100vh;
  width: 100vw;
 
 
}



/*-----Cabeçalho----- */

i {
 color: var(--roxo);
 margin: 0 3rem;
}

#head {
  display: flex;
  flex-direction: column;
  color: #fff;
  align-items: center;
}

#head .title {
  font-family: 'Neonderthaw';
  color: var(--rosa);
  font-size: 5rem;
  color: #fff;
  text-align: center;
  text-shadow: var(--textShadowRosa);
   margin: 1rem;
}

/* .score {
  font-family: 'Poppins';
  text-align: center;
}

.score .result {
  display: flex;
}

.score .result .player {
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 46px 0px rgba(214,36,208,0.9);

} */

/*-----Jogo----- */ 
#game {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.turn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.turn h3 {
  font-family: 'Poppins';
  padding: 1rem 0;
  color: #fff;
}
.turn-box {
  padding-bottom: 2rem;
}

.board {
  display: grid;
  grid-gap: 1rem;
  /* Animação fade */
  grid-template-columns: repeat(3, 6rem);
  -webkit-animation-name:aparecer;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-delay:0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-name:aparecer;
  animation-duration:1s;
  animation-iteration-count:1;
  animation-delay:0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
  
}

.board .space {
  height: 6rem;
  border: none;
  background: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 12px  rgba(214,36,208,0.9);
  border-radius: 5px;

}

.board .space .full {
  color: #fff;
  font-size: 3rem;
  text-shadow:var(--textShadowBranca);
}


#result {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'poppins';
  opacity: 0;
  text-shadow: 0px 0px 12px  rgba(214,36,208,0.9);
}

.aparecerKeyframeBoard {
  -webkit-animation-name:aparecer;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-delay:0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-name:aparecer;
  animation-duration:1s;
  animation-iteration-count:1;
  animation-delay:0.2s;
  animation-fill-mode: forwards;
}

.aparecerKeyframeResult {
  -webkit-animation-name:aparecerResult;
  animation-name:aparecerResult;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-delay:0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-duration:1s;
  animation-iteration-count:1;
  animation-delay:0.2s;
  animation-fill-mode: forwards;
}

#result span {
  text-align: center;
  font-size: 3rem;
  display: block;
}

#result button {
  color: #fff;
  background-color: transparent;
  border: none;
  font-family: 'Poppins';
  padding: 1rem;
  
  text-shadow: var(--textShadowRosa);
  border-radius: 30px;
  background-color: none;
  font-size: 1rem;
}

#result button:hover {
  cursor: pointer;
}
#result button:hover i {
  transform: rotate(180deg);
}
#result button i {
  transition: 0.5s;
  margin: 0 0.5rem 0 0;
  color: #fff;
}

.glow {
  -webkit-animation-name:mudar;
  -webkit-animation-duration:0.2s;
  -webkit-animation-iteration-count:1;
  -webkit-animation-delay:0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-name:mudar;
  animation-duration:0.2s;
  animation-iteration-count:1;
  animation-delay:0.2s;
  animation-fill-mode: forwards;
}
/* Animações */

@keyframes mudar {
 100% {
  text-shadow:0 0 3px #FFE205, 0 0 7px #FFE205, 0 0 20px #EDD205;
  color:#FFE205;
 }
}

@keyframes aparecer {
  100% {
   opacity: 1;
  }
 }

 @keyframes aparecerResult {
  100% {
   opacity: 1;
  }
 }

/* -----Seleção----- */

::selection {
  background-color: rgba(255, 226, 5, 0.5);
  
}

/*-----Mobile----- */

@media (max-width: 600px) {
  .board {
    grid-template-columns: repeat(3, 4rem);
  }

  .board .space {
    height: 4rem;
  }

  #head .title {
    font-size: 4rem;
    margin: 2rem 4rem;
    
  }
  
}

